

.minefield_container {
    opacity: 0.0;
    background-color: #c4daa2;
    padding: 15px;
    border: 2px solid grey;
    border-radius: 30px;
    /* margin: 3px; */
    display: none;

    transition: opacity .5s ease-in;
}
.start_container {
    opacity: 0.7;
    background-color: #85b144;
    padding: 5px;
    border: 2px solid grey;
    border-radius: 15px;
    /* margin-bottom: 5px; */
    transition: transform .5s;
}

.centered {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.centered_horiz {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

.start_txt {
    font-size: min(clamp(30px, 8vw, 100px), max(30px, 4vh));
    opacity: 1;
    margin: 2px;
}

.animated_canvas{
    border:3px solid #aec987;
}

.init_hidden {
    opacity: 0.0;
    transition: transform .5s;
}

.button_diasbled {
    pointer-events: none;
    cursor: not-allowed;
}

.button_light_grey {background-color: #e7e7e7; color:black}

.button {
    border: 1px solid black;
    border-radius: 5px;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 4px 4px;
    cursor: pointer;
}

.button_start {
    opacity: 1;
    background-color: #0B5C11;
    color:white;
    font-size: min(clamp(20px, 6vw, 75px), max(20px, 3vh));
    padding: 8px 8px;
    margin: 8px 8px;
    border-radius: 8px;
}

.button_play {
    opacity: 1;
    background-color: #538C57;
    color:white;
    font-size: min(clamp(30px, 9vw, 113px), max(30px, 4.5vh));
    padding: 12px 12px;
    padding: 12px 12px;
    border-radius: 12px;
    margin: 15px;
}

.button_greyed_out {
    background-color: #131613;
    color:grey;
}

.button_red {
    background-color: #aa2037;
    color:Black;
}

.button_yellow {
    background-color: #b89521;
    color:Black;
}

.license_bar{
    background-color: #b5b5b5;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 20px;
}

.license_bar p{
    text-align: right;
    margin: 3px;
}