<!DOCTYPE html>
<html>
<head>
    
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" type="text/css" href="{% static 'buttons.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favico.svg' %}" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/hammer.js/2.0.8/hammer.min.js"></script>

    {% load static %}
    <script> var static_path="" </script>

</head>

<body>

<div class="centered_horiz start_container" id="start_div">
    <p class="start_txt" id="start_lbl"> Start a new Minefield </p>
    <button class="button button_start" id="Start_5" onclick="strt(5)">5x5</button>
    <button class="button button_start" id="Start_10" onclick="strt(10)">10x10</button>
    <button class="button button_start" id="Start_15" onclick="strt(15)">15x15</button>
    
</div>




<div class="centered minefield_container" id="minefield_div">

    <canvas class="animated_canvas" id="minefield_canvas" width="2" height="2">
    </canvas> 
</div>

<!--Draw Play button on top of the canvas-->
<div class="centered start_container init_hidden" id="play_div">
    <button class="button button_play button_diasbled" id="play_but" onclick="play()" disabled>Play</button>
</div>

<script src={% static 'map_classes.js' %}></script>
<script src={% static 'minefield_start.js' %}></script>



</body>
</html>
