<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'privacy.css' %}">

    <link rel="shortcut icon" type="image/png" href="{% static 'favico.svg' %}" >

</head>

<body>

<div class="centered_horiz title_container">
    <p class="title_txt"> Privacy Policy: </p>    
</div>

<div class="centered_horiz body_container">
    <p class="body_txt">
        Last updated: 10/5/2023
        <br>
        HexMines may colect the following information about its users:
    </p>
    <ul class="body_txt">
        <li>Username</li>
        <li>IP address</li>
        <li>Location</li>
        <li>Puzzle completition times and scores</li>
    </ul>
    <p class="body_txt">
        This information is used to track highscores and track the number and distribution of site visitors.
        Hiscores will be displayed publically.
        Location information may be publically displayed on this site in an aggregate and anonymized manner.
        Personally identifiable information will not otherwize be shared with third parties.

        <br>
        This privacy policy may be updated at any time. It is the user's responsibility to keep track of any changes to this page.
        HesMines does not collect contact information that would allow it to individually notify its users of such changes.
    </p>
    
</div>

</body>
</html>
